<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Vardhaman Student Analysis<br><br><br><br></h1>
    <form action="/details" method="post">
        Roll number:<input type="text" placeholder="Roll_Number" name="roll">

    orderby:<select name="branch" >
        <option value="select">select</option>
        <option value="IT">IT</option>
        <option value="CSE">CSE</option>
        <option value="CS-AIML">CSM</option>
        <option value="EEE">EEE</option>
        <option value="MECH">MECH</option>
        <option value="CIVIL">CIVIL</option>
        <option value="ECE">ECE</option>
        <option value="AIML">AIML</option>
        <option value="AIDS">AIDS</option>
      </select>
    
        <input type="submit" value="submit">
    </form>

    <form action="/update">
        <input type="submit" value="UPDATE">
    </form>     
</body>

</html>